body {
    font-family: 'Roboto', sans-serif; /* Aplicando a fonte Roboto */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: black; /* Fundo preto */
    color: white; /* Cor do texto branca */
}

.color-picker {
    margin-bottom: 20px;
}

fieldset {
    border: 2px solid #00f; /* Cor da borda */
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 5px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #00f; /* Cor da fonte do legend */
}

#primary-squares-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px; /* Aumenta a margem entre os dois contêineres */
}

#secondary-squares-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.canvas-container {
    margin-bottom: 10px;
}

.download-container {
    display: flex;
    justify-content: center;
}

.download-container button {
    margin: 0 5px;
}

footer {
    margin-top: 20px;
}

footer p {
    margin: 0; /* Remove margem para o rodapé */
}

#cloudflare-info {
    text-align: center;
    margin-top: 20px;
    color: #fff; /* Cor do texto */
}
